<h1>Weather App</h1>
<p>Find me in app/views/weather/index.html.erb</p>

<%= form_tag "/weather/show", method: "GET" do  %>
  <%= label_tag :zipcode, "What's your zipcode?" %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag "Is it going to rain?" %>
<% end %>